.banner {
    background-image: url('../../images/banner.jpeg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    padding: 150px 20px; 
}

.banner h1 {
    color: white;
    font-size: 70px; /* Slightly increased size for more impact */
    opacity: 0.9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner h2 {
    color: white;
    font-size: 50px; 
    font-weight: 400; 
    opacity: 0.8;
    margin-bottom: 20px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}
